body {
    background: linear-gradient(0deg, #40a0e0 0, #40e0d0 100%);
}

.hello {
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
}

.links .nav-item {
    padding: 0 2.25em;
}

.links .nav-item > a {
    color: #fff;
    font-size: 3.25em;
    height: 0;
}

.links .nav-item a > img {
    height: 38px;
    margin-top: -10px;
}

.mascot {
    width: 320px;
    padding: 1.5em;
}

@media (max-width: 992px) {
    .mascot {
        width: 256px;
    }

    .links .nav-item {
        padding: 0 1.75em;
    }
}

@media (max-width: 360px) {
    .mascot {
        width: 200px;
    }
}

@media (max-height: 360px) {
    .mascot {
        width: 156px;
    }
}
